@import '../../Assets/sass/general.scss';

.pages-context{
    max-width: 285px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #e7dbdb;

    .link{
        text-decoration: none;

        .pages__context-top {
          margin-bottom: 20px;

          .pages__img{
            width: 100%;
            height: 250px;
          }
        }

        .pages__context{

            & > h4 {
                @include text (18px , 600 , 24px );
                color: #0e90e6;
            }

            & > p {
                @include text (14px , 400 , 18px );
                color: #051018;
                margin: 10px 0;
            }
        }

        .pages__btn {
          width: 100%;
          margin: 20px 0;

          & > button {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            background-color: #0e90e6;
            @include text (15px , 600 , 18px );
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            position: relative;
            z-index: 2;

            &::after{
                position: absolute;
                content: ' ';
                width: 0;
                height: 100%;
                background-color: #2b57c7;
                left: 0;
                top: 0;
                border-radius: 10px;
                transition: all 0.5s;
                z-index: -1;
            }

            &:hover::after{
                width: 100%;
            }
          }
        }
    }

    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: scale(1.01);
    }
}